#title{
    text-align: center;
    color:red;
    font-size: 85px;
    font-family:initial;
    margin: 15px 15px 75px 15px;
}

body{
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url(file:///C:/Users/Usu%C3%A1rio/Downloads/plano%20de%20fundo%20para%20o%20site.png);
}

#img1{
    width: 220px;
    height: 310px;
    margin: 0px 0px 0px 40px;
    float: left;
}

#img2{
    width: 220px;
    height: 310px;
    margin: 0px 0px 0px 40px;
    float: left;
}

#img3{
    width: 220px;
    height: 310px;
    margin: 0px 0px 0px 40px;
    float: left;
}

#img4{
    width: 220px;
    height: 310px;
    margin: 0px 0px 0px 40px;
    float: left;
}

#img5{
    width: 220px;
    height: 310px;
    margin: 0px 0px 0px 40px;
    float: left;
}
#img6{
    margin: 20px 0px 0px 40px;
    float:left;
    width: 220px;
    height:310px;
}

#img7{
    margin: 20px 0px 0px 40px;
    float:left;
    width: 220px;
    height:310px;
}

#img8{
    margin: 20px 0px 0px 40px;
    float:left;
    width: 220px;
    height:310px;
}

#img9{
    margin: 20px 0px 0px 40px;
    float:left;
    width: 220px;
    height:310px;
}

#img10{
    margin: 20px 0px 0px 40px;
    float:left;
    width: 220px;
    height:310px;
}
#img11{
    margin: 20px 0px 0px 40px;
    float:left;
    width: 220px;
    height:310px;
}
#img12{
    margin: 20px 0px 0px 40px;
    float:left;
    width: 220px;
    height:310px;
}
#img13{
    margin: 20px 0px 0px 40px;
    float:left;
    width: 220px;
    height:310px;
}
#img14{
    margin: 20px 0px 0px 40px;
    float:left;
    width: 220px;
    height:310px;
}
#img15{
    margin: 20px 0px 0px 40px;
    float:left;
    width: 220px;
    height:310px;
}
